<template>
  <Row
    v-for="produto in getState.produtos.filter(
      (p) => p.quantidadeNoCarrinho > 0
    )"
    :key="produto"
    :produto="produto"
  />
</template>

<script>
import Row from "./Product.vue";
import { getState, getProdutosNoCarrinho } from "../../storage";
export default {
  components: {
    Row,
  },
  setup() {
    return { getState, getProdutosNoCarrinho };
  },
};
</script>