<template>
  <div class="box">
    <div class="block" id="imageDiv">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </figure>
    </div>
    <div class="block">
      <h1>{{ produto.nome }}</h1>
      <p>{{ produto.descricao }}</p>
    </div>
    <div class="block">
      <h2>preço: {{ produto.preco }}</h2>
      <h3>quantidade: {{ produto.quantidadeNoCarrinho }}</h3>
      <h4>
        total:
        {{ produto.preço * produto.quantidadeNoCarrinho }}
      </h4>
    </div>
    <section class="wrapper"></section>
  </div>
</template>


<script>
export default {
  props: ["produto"],
  setup() {},
};
</script>

<style scoped>
.block {
  /*float: left;*/
  min-width: 13em;
}

#imageDiv {
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgba(156, 94, 211, 0.685);
  color: black;
  margin: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: bold;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 500px){
    .box {
        flex-direction: column;
    }
}

</style>