<template>
    <section>
    <div class="card">
    <div class="card-content">
        <div class="media">
        <div class="media-left">
            <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-4">{{produto.nome}}</p>
            <p class="subtitle is-6">{{produto.preco}}</p>
        </div>
        </div>

        <div class="content">
            <p>{{produto.descricao}}</p>
        </div>
    </div>
    <footer class="card-footer">
    <a v-on:click="setUltimoProdutobyId(produto.id)" href="#" class="card-footer-item">adicionar ao carrinho</a>
  </footer>
    </div>
     </section>
</template>

<script>
import {setUltimoProdutobyId} from "../../storage"

export default {
    props: ['produto'],
    setup() {
        return{
            setUltimoProdutobyId
        }
    }

}
</script>

<style>
    .card {
        flex-direction: column;
    }
    .card-father {
        height: 10em;
        width: 13em;
    }

    .card{
        width: 18em;
        float: left;
        margin: 1em;
    }
</style>