<template>
     <section>
    <card v-for="produto in getState.produtosFiltrados" :key="produto.nome" :produto=produto />
     </section>

    <section>
        <modal v-if="getState.modalOpen"/>
    </section>

    <section id="clear"></section>
</template>


<script>

import {setState, getState, setUltimoProdutobyId} from "../../storage" 
import Modal from './Modal.vue'
import Card from './card'

export default {
  components: { 
        Modal,
        Card
  },
    setup() {
        // let a = 1
        const mfun = (id) => {
            setState('people', 'nome', id)
        }
       
      
        return{
            getState,
            mfun,
            setUltimoProdutobyId
        }

    }

}

</script>


<style scoped>

#clear{
    clear: both;
}
</style>