<template>
  <div class="modal is-clipped is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="../../assets/sobre-o-estado.jpeg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>{{ getState.ultimoProdutoEscolhido.nome }}</p>
            <p>{{ getState.ultimoProdutoEscolhido.descricao }}</p>
            <p>preço: {{ getState.ultimoProdutoEscolhido.preco }}$</p>
            <p>quantdade:</p>
            <input
              class="input"
              type="number"
              min="1"
              max="100"
              step="1"
              v-model="quantidadeInput"
            />
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" v-on:click="adicionar()" class="card-footer-item"
            >Adicionar</a
          >
          <a
            href="#"
            v-on:click="setModal(false)"
            id="cancelButton"
            class="card-footer-item"
            >Cancelar</a
          >
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import { setModal, getState, setQuantidade } from "../../storage";
// import { onMounted } from "@vue/runtime-core";
export default {
  components: {},
  setup() {
    const quantidadeInput = ref(
      getState.ultimoProdutoEscolhido.quantidadeNoCarrinho == 0
        ? 1
        : getState.ultimoProdutoEscolhido.quantidadeNoCarrinho
    );

    const adicionar = () => {
      setQuantidade(parseInt(quantidadeInput.value));
      setModal(false);
    };

    return {
      setModal,
      getState,
      setQuantidade,
      adicionar,
      quantidadeInput,
    };
  },
};
</script>

<style>
#cancelButton:hover {
  background-color: red;
}
</style>