<template>
    <input type="text" placeholder="Pesquisar produto" v-model="state.nomeProduto">

</template>

<script>
import { reactive } from '@vue/reactivity'
import{getState, setFiltrados} from '../../../storage'
import { watch } from '@vue/runtime-core'

export default {

    setup() {
        const state = reactive({
            nomeProduto: null,
        })

        watch(() => state.nomeProduto,
                (atual, anterior ) =>{
                console.log(anterior, atual)
                setFiltrados(getState.produtos.filter( (atual) => atual.nome.toLowerCase().indexOf(state.nomeProduto.toLowerCase()) >= 0))
            }
        )
        
        return{
            state,
            setFiltrados
            }

     }

       
    }
</script>

