<template>
  <Header/>
  <Products/>
  <Footer/>

</template>

<script>
import Header from "../header/Index"
import Products from "../products/Index"
import Footer from "../footer/Index"

export default {
    components:{
        Header,
        Products,
        Footer,
    }
}
</script>

<style>

</style>