<template>
  <section  class="middle">
<div class="field">
  <p class="control has-icons-left has-icons-right">
    
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
 <footer class="card-footer">
    <a href="#" class="card-footer-item">cadastrar</a>
    <a @click="$router.push({name:'Home'})" id="cancel" href="#" class="card-footer-item">Cancelar</a>
  </footer>

</section>

</template>

<script>
export default {

}
</script>

<style scped>
.middle{
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 40em;
  height: 50%;
}
.card-footer-item:hover{
  background-color: rgb(51, 213, 51);
}

#cancel:hover{
  background-color: red;
}

</style>