<template>
  <div>
    <InProcurar id="InProcurar" />
    <Btn_Entrar id="btnEntrar" />
    <Btn_Cadastro />
    <button @click="$router.push({ name: 'Cart' })">
      <svgIcon type="mdi" :path="mdiCartOutline"></svgIcon>
    </button>
  </div>
</template>

<script>
import InProcurar from "./actions/InProcurar";
import Btn_Entrar from "./actions/BtnEntrar";
import Btn_Cadastro from "./actions/BtnCadastro";
import SvgIcon from "@jamescoyle/vue-icon";
import { mdiCartOutline } from "@mdi/js";

export default {
  components: {
    InProcurar,
    Btn_Entrar,
    Btn_Cadastro,
    SvgIcon,
  },

  setup() {
    return {
      SvgIcon,
      mdiCartOutline,
    };
  },
};
</script>

<style scoped>
#btnEntrar {
  margin-left: 20px;
  margin-right: 3px;
}
#InProcurar {
  width: 70%;
}
</style>