<template>
  <router-view/>
   <!-- <button v-on:click="mfun">click me </button>
  <p>{{getState.people.nome}}</p> -->
</template>

<script>
import { getState, setState } from './storage'

  export default{
     
    setup() {
      let a = 1
      const mfun = () => {
        setState('people', 'nome', a++)
      }

      return {
        mfun,
        getState,
        setState
      }
   }

  } 

</script>

